@using ASM_App_Dev.Utils
@using ASM_App_Dev.ViewModels
@using Microsoft.AspNetCore.Identity

@model AdminViewModel

@{
    int RowNo = 0;
}

<h1>Admin page</h1>
<a asp-action="ShowCategoriesInProgress" asp-controller="Admin" class="btn btn-primary">Verify Category Request</a>
<br />
<h2>All Users</h2>

@{
    var message = TempData["Message"];
}

@if (message != null)
{
    <h4 class="alert alert-success" role="alert"> <strong>@TempData["Message"]</strong></h4>
}


   <form method="POST">
       <select asp-for="@Model.Input.Role" class="form-control"
                        asp-items="@Model.RoleSelectList">              
        </select>
        <br />
        <button type="submit" class="btn btn-primary">Select</button>
  </form>




<table class="table">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">User Email</th>
      <th scope="col">Email Confirmed</th>
      <th scope="col">Action</th>
    </tr> 
  </thead>
  <tbody>
    @foreach (var item in Model.Users){
      <tr>
        <th scope="row">@{RowNo++;} @RowNo</th>
        <td>@item.Email</td>
                <td scope="row">@item.EmailConfirmed</td>
        <td><a asp-action="ChangePassword" asp-controller="Admin" asp-route-id=@item.Id>Change Password</a></td>
      </tr>
  }
  </tbody>
</table>