<h1>Verify Category Request</h1>

@model IEnumerable<Category>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name Category</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td scope="row">@item.NameCategory</td>
                <td>@item.Status</td>
                <td>
                    <a asp-action="VerifyCategoryRequest" asp-controller="Admin" asp-route-id="@item.Id" asp-route-name="accept" class="btn btn-primary">Accept</a>
                    <a asp-action="VerifyCategoryRequest" asp-controller="Admin" asp-route-id="@item.Id" asp-route-name="reject" class="btn btn-danger">Reject</a>
                </td>
            </tr>
        }
    </tbody> 
</table> 

 